/*custom css*/
#content{
	background: #00FFFF;

/*	border: 1px solid black;
	padding-left:40px;
*/
}
table{
	border-collapse: collapse;
	width: 50%;
}
table, th, td {
   border-bottom: 1px solid #ddd;
   text-align: center;
   padding: 1.5%;
}
.msg_success{
	color:green;margin-left:10px;
}
.msg_error{
	color:red;margin-left:10px;
}

.del{
	cursor: pointer;
}
.del:hover{
	border-bottom:2px solid red;
}