<div flex layout="column" layout-align="center center">
	<!--<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2"> -->
		<md-content class="md-padding">
			<form name="addExpensesForm" ng-submit="addExpenses()" layout="column">
				<label>Select date</label>
				<md-datepicker ng-model="ddmmyy" required></md-datepicker>
				<md-input-container>
					<label>Price</label>
					<input type="number" step="any" ng-model="expenses.price" required>
				</md-input-container>
				<md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1':(addExpensesForm.$dirty && addExpensesForm.$valid)}">Add expenses</md-button>
				<span class="msg_success" ng-if="response.status==1">&#10004; {{response.msg}}</span>
				<span class="msg_error" ng-if="response.status==0">&#10008; {{response.msg}}</span>
			</form>
		</md-content>
	</div>
</div>



<!--
<form ng-submit="addExpenses()">
	<div class="row">
		<div class="twelve columns">
			<label for="purchased_date">Purchased Date</label>
			<input class="u-full-width" type="date" placeholder="yyyy-MM-dd" ng-model="p_date" required>
			<input type="hidden" value="{{ p_date | date: 'yyyy-MM-dd' }}" id="purchased_date"/>
			<label for="price">Price</label>
			<input type="number" step="any" placeholder="price.." id="price" class="u-full-width" ng-model="expenses.price" required/>
			<input class="button-primary" type="submit" value="add expenses"><span style="color:green;margin-left:10px" ng-if="response.status==1">&#10004; {{response.msg}}</span>
		</div>
	</div>
</form>
-->