<div flex layout="column" layout-align="center center">
	<!--<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2"> -->
		<md-content class="md-padding">
			<p>Create a group</p>
			<form name="clientForm" ng-submit="createClient()" layout="column">
				<md-input-container>
					<label>Email</label>
					<input type="email" ng-model="client.email" required>
				</md-input-container>
				<md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1':(signupForm.$dirty && signupForm.$valid)}">Create group</md-button>
				<span class="msg_success" ng-if="response.status==1">&#10004; Your group Id: <span style="font-size:20px">{{response.msg}}</span>. You need this ID to login and signup.</span>
				<span class="msg_error" ng-if="response.status==0">&#10008; {{response.msg}}</span>
			</form>
		</md-content>
	</div>
</div>