<div>
	Date:  <input type="month" ng-model="mmyy" ng-change="selectDate(mmyy)" placeholder="select date..." required/>
</div>

<div ng-if="status!=1">no record available...</div>

<table ng-if="status==1">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="e in exp">
			<td>{{e.purchased_date}}</td>
			<td>{{e.user}}</td>
			<td>{{e.price}}</td>
			<td ng-click="deleteExpenses(exp,$index,e.id)" class="del">x</td>
		</tr>
	</tbody>
</table>
