<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="total expenses" md-selected ui-sref=".total_expenses">
		<div ng-if="status!=1">no transaction available...</div>
		<md-content class="md-padding" ng-if="status==1">
			<div>Total: {{total | number}} | Per person: {{perPerson | number}}</div>
			<div>{{current_month}}, {{current_year}} expenses</div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Expenses</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in transaction">
						<td>{{t.user}}</td>
						<td>{{t.expenses | number}}</td>
						<td>{{t.status | number}}</td>
					</tr>
				</tbody>
			</table>
		</md-content>
	</md-tab>
	<md-tab label="add expenses" ui-sref=".addexpenses">
		<md-content class="md-padding" ui-view></md-content>
	</md-tab>
	<md-tab label="expenses" ui-sref=".expenses">
		<md-content class="md-padding" ui-view></md-content>
	</md-tab>

	<md-tab label="logout {{user}}" ng-click="logout()"></md-tab>
</md-tabs>


