<div>
	<div layout="row" layout-align="center center">
		<p style="font-size:50px">Easy to split the cost...</p>
	</div>
	<div layout="row" layout-align="center center" layout-wrap>
		<md-button class="md-raised md-primary" ui-sref="client">Get started</md-button>
	</div>
</div>