<div flex layout="column" layout-align="center center">
	<!--<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2"> -->
		<md-content class="md-padding">
			<form name="loginForm" ng-submit="login()" layout="column">
				<md-input-container>
					<label>Group Id</label>
					<input type="text" ng-model="user.client_id" required>
				</md-input-container>
				<md-input-container>
					<label>Username</label>
					<input type="text" ng-model="user.user" required>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="user.pass" required>
				</md-input-container>
				<md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1':(loginForm.$dirty && loginForm.$valid)}">Login</md-button>
				
				<span class="msg_error" ng-if="response.status==0">&#10008; {{response.msg}}</span>
				<span>Dont't have a split5050 account? <a ui-sref="signup">Sign up now</a></span>
			</form>
		</md-content>
	</div>
</div>
