<div flex layout="column" layout-align="center center">
	<!--<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">-->
		<md-content class="md-padding">
			<form name="signupForm" ng-submit="signup()" layout="column">
				<md-input-container>
					<label>Group Id</label>
					<input type="text" ng-model="user.client_id" required>
				</md-input-container>
				<md-input-container>
					<label>Username</label>
					<input type="text" ng-model="user.user" required>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="user.pass" required>
				</md-input-container>
				<md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1':(signupForm.$dirty && signupForm.$valid)}">Signup</md-button>
				<span class="msg_success" ng-if="response.status==1">&#10004; {{response.msg}}</span>
				<span class="msg_error" ng-if="response.status==0">&#10008; {{response.msg}}</span>
				<span>Dont't have a group yet? <a ui-sref="client">Create group</a></span>
			</form>
		</md-content>
	</div>
</div>