<div>Total: {{total | number}} | Per person: {{perPerson | number}}</div>
<div>{{current_month}}, {{current_year}} expenses</div>
<table>
	<thead>
		<tr>
		<th>Name</th>
		<th>Expenses</th>
		<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="t in transaction">
		<td>{{t.user}}</td>
		<td>{{t.expenses | number}}</td>
		<td>{{t.status | number}}</td>
		</tr>
	</tbody>
</table>